language: ruby

dist: trusty

matrix:
  include:
    - rvm: jruby-1.7.22  # ruby 2.0
      env:
        - JRUBY_OPTS="--2.0"
        - RSPEC_OPTS="--tag=~very_slow"
    - rvm: jruby-9000    # ruby 2.2
    - rvm: 2.0
    - rvm: 2.1
    - rvm: 2.2
    - rvm: ruby-2.3.0

bundler_args: --without default_server

before_install:
  - gem install bundler

script:
  - bin/checks
