language: ruby

dist: trusty

env:
  - RSPEC_OPTS="--tag=~crate_io"

matrix:
  include:
    - rvm: jruby-1.7.22  # jruby 2.0 mode
      env:
        - JRUBY_OPTS="--2.0"
        - RSPEC_OPTS="--tag=~very_slow --tag=~crate_io"

    - rvm: jruby-9000    # jruby 2.2 mode

    - rvm: ruby-2.2      # special build for integration with crate.io
      sudo: required
      services:
        - docker
      before_script:
        - bin/docker-launch-crate-io
      env:
        - RSPEC_OPTS=""

    # normal MRI builds
    - rvm: 2.0
    - rvm: 2.1
    - rvm: 2.2
    - rvm: ruby-2.3.0

bundler_args: --without default_server

before_install:
  - gem install bundler

script:
  - bin/checks
