language: ruby

dist: trusty

matrix:
  include:
    - rvm: 2.0
    - rvm: 2.1
    - rvm: 2.2
    - rvm: ruby-2.3.0
    - rvm: jruby-1.7.22
      env:
        - JRUBY_OPTS="--2.0"
    # and jruby for 2.2
    - rvm: jruby-9000

before_install:
  - gem install bundler

script:
  - rake
  - rubocop
